.form {
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    margin: 20px auto;
    padding: 20px;

    text-align: center;
    font-size: 1.2em;
}

.form input {
    width: 100%;

    margin: 5px 0;
    padding: 5px 10px;

    background: var(--color-accent-1);
    color: var(--color-font);
    border: none;
    border-radius: 20px;

    font-size: 1em;

    transition: background 0.3s ease;
}

.form input:hover, form input:focus {
    background: var(--color-accent-2);

    outline: 0;
}

.form .file-upload {
    position: relative;

    margin: 10px 0px 20px;
}

.form .file-upload input[type="file"] {
    display: none;
}

.form .file-upload::before {
    content: 'Choose file';

    display: inline-block;
    width: fit-content;

    padding: 0.6em 1.2em;

    background: var(--color-accent-1);
    color: var(--color-font);
    border-radius: 20px;

    font-size: 0.8em;
    font-family: inherit;
    text-align: center;

    cursor: pointer;
    transition: background 0.3s ease;
}

.form .file-upload:hover::before {
    background: var(--color-accent-2);
}

form .file-upload span {
    color: var(--color-font);

    font-size: 0.95em;
}

.form button {
    padding: 10px 30px;

    background: var(--color-accent-1);
    color: var(--color-font);
    box-shadow: 2px 8px 10px var(--color-shadow);
    border:0;
    border-radius: 15px;
    outline:0;

    font-size: 0.8em;

    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.form button:hover {
    background: var(--color-accent-2);

    transform: translateY(-2px);
}
