@import url('colors.css');

main {
    padding: 20px;
}

main > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main > nav h1 {
    font-size: 1.4em;
    text-transform: uppercase;
}

main .add-form {
    width: 100%;
}
