:root {
    --gradient-background: linear-gradient(45deg, #282a36 0%, #44475a 100%);
    --color-main: #282A36;
    --color-accent-1: #44475A;
    --color-accent-2: #6272A4;
    --color-accent-3: #8BE9FD;
    --color-accent-4: #BD93F9;
    --color-font: #F8F8F2;
    --color-shadow: rgba(0, 0, 0, 0.3);
}