@import url("colors.css");

main .main-content {
    padding: 20px;
}

main .element-counter {
    width: 100%;

    padding: 10px 0;
    margin: 0;

    border-bottom: 2px dashed var(--color-accent-4);
}

main .element-list {
    width: 100%;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

main .element-list .element {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;

    background: var(--color-accent-1);
    border-bottom: 1px dashed var(--color-accent-2);
}

main .element-list .element p {
    text-transform: uppercase;
}

main .element-list .element div {
    display: flex;
    justify-content: space-between;
}

main .element-list .element a,
main .element-list .element button {
    margin: 0 5px;
    padding: 5px 15px;

    background: var(--color-accent-4);
    color: var(--color-font);
    border: 0;

    font-size: 1em;

    outline: 0;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

main .element-list .element a:hover,
main .element-list .element button:hover {
    background: var(--color-accent-2);

    transform: translateY(-2px);
}

main .element-list .element a > i {
    font-size: 32px !important;

    transition: font-weight 0.3s ease;
}

main .element-list .element a:hover > i {
    font-weight: bold;
}

