@import url("colors.css");

main {
    padding: 20px;
}

main > h1 {
    font-size: 1.4em;
    text-transform: uppercase;
}

main > div {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-main);
    box-shadow: 2px 8px 10px var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main div > p {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom: 2px dashed var(--color-accent-4);
}

main ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

main ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-accent-1);
    border-bottom: 1px dashed var(--color-accent-2);
    padding: 10px 20px;
}

main ul li p {
    text-transform: uppercase;
}

main ul li a {
    padding: 5px 15px;
    background-color: var(--color-accent-4);
    transition: transform 0.3s ease, background 0.3s ease, font-weight 0.3s ease;
}

main ul li a:hover {
    transform: translateY(-2px);
    background-color: var(--color-accent-2);
    font-weight: bold;
}

main ul li a > i {
    font-size: 32px !important;
    transition: font-weight 0.3s ease;
}

main ul li a:hover > i {
    font-weight: bold;
}

