@import url('colors.css');

.cardboard {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr; /* Adjusted with media queries */

    margin: 20px auto;
    padding: 20px;
}

.cardboard .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    width: 400px;
    height: 100%;
    min-height: 250px;

    padding: 20px;

    background-color: var(--color-main);
    box-shadow: 2px 8px 10px var(--color-shadow);
    border-radius: 5px;
}

.cardboard .card > * {
    margin: 0;
    padding: 0;
}

.cardboard .card > h1 {
    align-self: flex-start;

    font-size: 1.4em;
    text-transform: uppercase;
}

.cardboard .card > a {
    width: 100%;

    padding: 15px 30px;

    background-color: var(--color-accent-1);
    box-shadow: 2px 8px 10px var(--color-shadow);
    border-radius: 5px;

    font-size: 0.8em;
    text-align: center;

    transition: transform 0.3s ease, background 0.3s ease;
}

.cardboard .card > a:hover {
    transform: translateY(-2px);
    background-color: var(--color-accent-2);
}

.cardboard .card .identifier {
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    right: -5px;
    padding: 5px 10px;
    background-color: var(--color-accent-1);
    font-size: 0.7em;
    text-transform: uppercase;
}

.cardboard .card .production {
    background-color: var(--color-accent-4);
}

.cardboard .card .development {
    background-color: var(--color-accent-3);
}

.cardboard .card .planned {
    background-color: var(--color-accent-2);
}

/* RESPONSIVNESS */

@media (min-width: 860px) {
    .cardboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1280px) {
    .cardboard {
        grid-template-columns: repeat(3, 1fr);
    }
}
