@import url('colors.css');

/* Animations */

@keyframes backgroundAnimation {
    0%, 100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

/* Main elements */

* {
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--color-font);
    background: var(--gradient-background);
    background-size: 300% 300%;
    animation: backgroundAnimation 12s ease infinite;
}

a {
    text-decoration: none;
    color: var(--color-font);
}

/* Special */

.note {
    display: inline-block;
    background-color: var(--color-accent-2);
    border-radius: 20px;
    border: 2px dashed var(--color-accent-4);
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 8px 12px var(--color-shadow);
}
