/*
    Author: © Maksymilian Strzelczak, 2025

    General stuff.
 */
@import url('colors.css');

@keyframes backgroundAnimation {
    0%, 100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

* {
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 100vh;

    margin: 0;
    padding: 0;

    color: var(--color-font);
    background: var(--gradient-background);
    background-size: 300% 300%;

    animation: backgroundAnimation 12s ease infinite;
}

a {
    color: var(--color-font);
    text-decoration: none;
}

main {
    flex-grow: 1;
}

main > div { /* TODO: Refactor */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;

    margin: 10px auto 0;
    padding: 10px;

    background-color: var(--color-main);
    box-shadow: 0 8px 10px var(--color-shadow);
    border-radius: 20px;
}

.hidden {
    display: none;
}
