@import url('colors.css');

main {
    padding: 20px;
}

main > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main > nav h1 {
    font-size: 1.4em;
    text-transform: uppercase;
}

main .add-form {
    width: 100%;
}

main .add-form div:last-child {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    width: 80%;
}

.add-form button,
.add-form a {
    width: calc(50% - 20px);
}

.delete-form button {
    display: inline-block;

    margin: 40px 0 15px;

    cursor: pointer;
    transition: background 0.2s ease;

    width: 80%;

    padding: 10px;

    background: var(--color-accent-1);
    color: var(--color-font);
    border: 2px solid transparent;
    box-shadow: 2px 8px 10px var(--color-shadow);
    border-radius: 5px;

    font-size: 0.8em;
    text-align: center;

    transition: border 0.2s ease;
}

.delete-form button:hover {
    background: var(--color-accent-2);
}
