<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub - Studies</title>
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/components.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/update_subject.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="~{layout :: header('studies/view')}"></header>

    <main>

        <nav>
            <h1>
                Subject:
                <span th:text="${subject.name}">Name</span>
            </h1>

            <a class="button"
               th:href="@{/studies}">
                Back
            </a>
        </nav>

        <div class="response-message"
             th:if="${message != null}">
            <h1>Response:</h1>
            <p th:text="${message}"></p>
        </div>

        <div>
            <p>Subject info:</p>
        </div>

        <form method="post"
              th:action="@{/studies/{id}/update(id=${subject.id})}"
              class="add-form">

            <label for="code">Code</label><br />
            <input type="text"
                   name="code"
                   id="code"
                   th:value="${subject.code}"
                   minlength="2"
                   maxlength="4"/><br />

            <label for="name">Name</label><br />
            <input type="text"
                   name="name"
                   id="name"
                   th:value="${subject.name}"
                   minlength="3"
                   maxlength="100"/><br />

            <label for="description">Description</label><br />
            <textarea name="description"
                      id="description"
                      th:text="${subject.description}"
                      maxlength="500"></textarea><br />

            <label for="creation-date">Creation date</label><br />
            <input type="text"
                   id="creation-date"
                   th:value="${#temporals.format(subject.creationDate, 'dd-MM-yyyy HH:mm')}"
                   readonly/><br />

            <label for="modification-date">Modification date</label><br />
            <input type="text"
                   id="modification-date"
                   th:value="${#temporals.format(subject.modificationDate, 'dd-MM-yyyy HH:mm')}"
                   readonly/><br />

            <div>
                <button type="submit">Update</button>
            </div>
        </form>

        <form method="post"
              class="delete-form"
              th:action="@{/studies/{id}/delete(id=${subject.id})}">
            <button type="submit">Delete</button>
        </form>

        <div>
            <p>File list</p>
            <!-- TODO: File list -->
        </div>

    </main>

    <footer th:replace="~{layout :: footer()}"></footer>

</body>
</html>