<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub - Error page</title>
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/components/components.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="~{ layout/header :: header }"></header>

    <main>

        <div class="main-header">
            <h1>Error notification!</h1>

            <a th:href="@{/}">Back home</a>
        </div>

        <div class="main-content">
            <h1>Something went wrong 😢.</h1>
            <p>HTTP Status:</p>
            <pre th:text="${status}"></pre>

            <p>Error message:</p>
            <pre th:text="${message}"></pre>

            <p>
                If you think this should not ever happen, please report this on
                <a href="https://github.com/maksik997/MyHub"
                   class="hyperlink">GitHub</a>.
            </p>
        </div>

    </main>

    <footer th:replace="~{ layout/footer :: footer }"></footer>

    <div th:replace="~{ fragments/notification :: notification }"></div>

</body>
</html>