<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub - Error page</title>
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/components/components.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="~{ layout/header :: header }"></header>

    <main>
        <h1>Unfortunately an error has occurred 😢.</h1>
        <pre>Status: <span th:text="${status}">[Status]</span></pre>
        <pre>Message: <span th:text="${message}">[Message]</span></pre>
    </main>

    <footer th:replace="~{ layout/footer :: footer }"></footer>

</body>
</html>