<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub - Games</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <!-- GENERAL -->
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <!-- COMPONENTS -->
    <link th:href="@{/stylesheets/components/_components.css}" rel="stylesheet">
    <!-- TEMPLATE SPECIFIC -->
    <link th:href="@{/stylesheets/games_page.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="~{ layout :: header('games') }"></header>

    <main>
        <h1>Games:</h1>
        <div>
            <p>
                Showing
                <span style="font-weight: bold;" th:text="${games.size()}">Count</span>
                elements.
            </p>
            <ul>
                <li th:each="game : ${games}">
                    <p th:text="${game}">Game name</p>
                    <a th:href="@{/games/{name}(name=${game})}" target="_blank">▶ PLAY</a>
                </li>
            </ul>
        </div>
    </main>

    <footer th:replace="~{ layout :: footer() }"></footer>

</body>
</html>