<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub - Games</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/games_page.css}" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <img th:src="@{/images/logo.png}" src="" alt="logo.png">
            <div>
                <h1>MyHub</h1>
                <h2>Welcome to the Hub.</h2>
            </div>
        </div>

        <nav class="dropdown">
            <button class="dropdown-button">Menu ▼</button>
            <ul class="dropdown-content">
                <li>
                    <a th:href="@{/}">Start</a>
                </li>
                <li>
                    <a class="selected" th:href="@{/games}">Games</a>
                </li>
                <li>
                    <a th:href="@{/media}">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Games:</h1>
            <p>Loaded: <span th:text="${games.size()}">Count</span> games</p>
        </div>

        <ul>
            <li th:each="game : ${games}">
                <p th:text="${game}">Game name</p>
                <a th:href="@{/games/{name}(name=${game})}" target="_blank"><i class="material-icons">arrow_forward</i></a>
            </li>
        </ul>
    </main>

    <footer>
        <p>Site created with ❤️ by: &copy; Maksymilian Strzelczak</p>
        <nav>
            <a th:href="@{/}">Start</a>
            <span>•</span>
            <a th:href="@{/games}">Games</a>
            <span>•</span>
            <a th:href="@{/media}">Gallery</a>
        </nav>
    </footer>
</body>
</html>