<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub</title>
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/components/components.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/landing_page.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="~{ layout/header :: header }"></header>

    <main>
        <div class="card">
            <h1>Games</h1>
            <p class="identifier production">Production</p>
            <p>Discover and play your favourite games from our collection.</p>
            <a th:href="@{/games}">Explore games</a>
        </div>
        <div class="card">
            <h1>Gallery</h1>
            <p class="identifier production">Production</p>
            <p>Browse through an exciting gallery of images and videos.</p>
            <a href="https://photoprism.mgk.localnet/">Explore gallery</a>
        </div>
        <div class="card">
            <h1>Files</h1>
            <p class="identifier planned">Planned</p>
            <p>Manage your files easily.</p>
            <a href="#">W.I.P</a>
        </div>
        <div class="card">
            <h1>Studies</h1>
            <p class="identifier planned">Planned</p>
            <p>Study manager migration.</p>
            <a href="#">W.I.P</a>
        </div>
    </main>

    <footer th:replace="~{ layout/footer :: footer }"></footer>

</body>
</html>