<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!-- HEADER -->

<header th:fragment="header(page)"
        class="header">

    <div class="header-title-panel">

        <img th:src="@{/images/logo.png}"
             src=""
             alt="logo"
             class="logo">

        <div class="titles">
            <h1 class="title">MyHub</h1>
            <h2 class="subtitle">Welcome to the Hub.</h2>
        </div>

    </div>

    <nav class="header-navigation">

        <a th:href="${page != 'home'} ? @{/} : null"
           th:classappend="${page == 'home'} ? ' selected'"
           class="button">
            Home
        </a>
        <a th:href="${page != 'games'} ? @{/games} : null"
           th:classappend="${page == 'games'} ? ' selected'"
           class="button">
            Games
        </a>
        <a th:href="${page != 'media'} ? @{/media} : null"
           th:classappend="${page == 'media'} ? ' selected'"
           class="button">
            Gallery
        </a>

        <div class="dropdown button">
            <button class="dropdown-button">...</button>

            <ul class="dropdown-content">
                <li>
                    <a th:href="${page != 'studies'} ? @{/studies} : null"
                       th:classappend="${page == 'studies'} ? ' selected'">Studies</a>
                </li>
                <li>
                    <a th:href="${page != 'files'} ? @{/files} : null"
                       th:classappend="${page == 'files'} ? ' selected'">Files</a>
                </li>
            </ul>
        </div>

    </nav>

</header>

<!-- FOOTER -->

<footer th:fragment="footer()"
        class="footer">

    <p class="footer-note">
        Site created with ❤️ by: &copy; Maksymilian Strzelczak
    </p>

    <nav class="footer-navigation">
        <a th:href="@{/}"
            class="link">Start</a>
        <span>•</span>
        <a th:href="@{/games}"
           class="link">Games</a>
        <span>•</span>
        <a th:href="@{/media}"
           class="link">Gallery</a>
        <span>•</span>
        <a th:href="@{/studies}"
           class="link">Studies</a>
        <span>•</span>
        <a th:href="@{/files}"
           class="link">Files</a>
    </nav>

</footer>

</body>
</html>