<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub - Gallery</title>
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/components/components.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/media_page.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="~{ layout/header :: header }"></header>

    <main>
        <nav>
            <h1>Gallery:</h1>
            <a th:href="@{/media/upload}">+ Upload</a>
        </nav>
        <div class="media-library">
            <!-- PAGINATION -->
            <div class="top-bar">
                <p>Found <span style="font-weight:bold;" th:text="${totalCount}">Number</span> elements total.</p>
                <nav th:if="${totalCount > 0}">
                    <ul>
                        <li th:if="${currentPage > 0}">
                            <a th:href="@{/media(page=${currentPage - 1}, size=10)}">
                                «
                            </a>
                        </li>


                        <li>
                            <form onsubmit="changeSite(event)">
                                <label>
                                    <datalist id="pages">
                                        <option th:each="i : ${#numbers.sequence(1, totalPages)}"
                                                th:value="${i}">
                                    </datalist>
                                    <input id="page" list="pages" th:placeholder="${currentPage+1}"/>
                                </label>
                            </form>
                        </li>


                        <li th:if="${currentPage < totalPages - 1}">
                            <a th:href="@{/media(page=${currentPage + 1}, size=10)}">
                                »
                            </a>
                        </li>
                    </ul>
                    <p>Total pages: <span th:text="${totalPages}"></span></p>
                </nav>
            </div>

            <div th:class="media-item" th:each="m : ${media}">
                <div>
                    <h3 th:text="${m.type}"></h3>
                    <a th:href="@{/media/file/{fileName}(fileName=${m.fileName})}" target="_blank">📂 Open</a>
                </div>
                <p style="font-style: italic;" th:text="${m.fileName}">Filename></p>

                <img src="" alt="" th:src="@{/media/file/{fileName}(fileName=${m.fileName})}" th:alt="${m.fileName}" th:if="${m.type == T(pl.magzik.my_hub.model.Media.MediaType).IMAGE}">
                <video controls th:if="${m.type == T(pl.magzik.my_hub.model.Media.MediaType).VIDEO}">
                    <source th:src="@{/media/file/{fileName}(fileName=${m.fileName})}" src="">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </main>

    <footer th:replace="~{ layout/footer :: footer }"></footer>

<script>
    'use strict';
    const changeSite = (event) => {
        event.preventDefault();
        location.href=`/media?page=${document.getElementById('page').value-1}&size=10`;
    };
</script>
</body>
</html>