<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub - Games</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/stylesheets/stylesheet.css}" rel="stylesheet">
    <link th:href="@{/stylesheets/components/components.css}" rel="stylesheet">

</head>
<body>

    <header th:replace="~{ layout/header :: header }"></header>

    <main>

        <nav class="main-header">
            <h1>Add game:</h1>
            <a th:href="@{/games}">Back</a>
        </nav>

        <div class="main-content">
            <form th:action="@{/games/add}"
                  class="form"
                  method="post"
                  enctype="multipart/form-data">

                <div> <!-- Game name container -->
                    <label for="name">Name:</label>
                    <input type="text"
                           id="name"
                           th:name="name"
                           required/>
                </div>

                <div> <!-- File upload container -->
                    <label>Game archive: (.zip)</label>
                    <div th:replace="~{ fragments/file_upload :: fileUpload(true) }"></div>
                </div>

                <button class="button">Submit</button>

            </form>
        </div>

    </main>

    <footer th:replace="~{ layout/footer :: footer }"></footer>

    <div th:replace="~{ fragments/notification :: notification }"></div>

</body>
</html>